.personn li{
    list-style-type: none;
    padding: 5px;
    background-color: antiquewhite;
    width:40rem;
    margin:auto;
    border-radius: 5px;
    border-width: 1px;
    line-height: 1em;
text-align:center;
}

.persons{
    text-align: center;
}
.persons input[type="text"]{
    text-align: center;
}
.personn span{
    margin-bottom: 5px;
    
}