<div class="persons">
  
    <form>
        <input type="text" [(ngModel)]="person.id" placeholder="id" name="id">
<br>
        <input type="text" [(ngModel)]="person.name" placeholder="name" name="name" value={{person.name}}>
        <br>   
        <input type="text" [(ngModel)]="person.email" placeholder="email" name="email">
        <br>
        <input type="text" [(ngModel)]="person.phone" placeholder="phone" name="phone">
        <br>
        <input type="text" [(ngModel)]="person.address" placeholder="address" name="address">
        <br>
        <input type="button" (click)="addPerson()" value="addPerson" name="addPerson" id="addPerson">
        <input type="button" (click)="updatePerson()" value="updatePerson" name="updatePerson" id="updatePerson">

      </form>
      <button type="button" (click)="deleteAll()" name="deleteAll">DeleteAll</button>
</div>
<div class="personn">
  <ul>
    <li *ngFor="let person of persons">
      <span class="bad">{{person.id}}</span>|
      <span>{{person.name}}</span>|
      <span>{{person.phone}}</span>|
      <span>{{person.email}}</span>|
      <span>{{person.address}}</span>
      <span><input type="button" name="deletePerson" id="deletePerson" (click)="deletePerson(person.id)"value="deletePerson"></span>
      <span><input type="button" (click)=onSelect(person) value="select"></span>
    </li>
  </ul>
</div>
